absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.2.0
amqp==5.1.1
ansi2html==0.0.0
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.1
Babel==2.13.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
beautifulsoup4==4.12.2
billiard==4.1.0
bleach==6.1.0
blinker==1.6.2
Bottleneck==1.3.5
Brotli==1.1.0
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.2
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
cryptography==41.0.3
cycler==0.12.1
Cython==3.0.0
dash==2.14.1
dash-bootstrap-components==1.5.0
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dtale==2.16.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.1
Flask==2.2.5
Flask-Compress==1.14
flatbuffers==2.0
flit_core==3.9.0
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.9.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipykernel==6.26.0
ipython==8.16.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.5.0
jupyter_core==5.4.0
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
kaggle==1.5.13
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
kombu==5.3.2
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.40.0
lz4==4.3.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
missingno==0.4.2
mistune==3.0.1
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
msgpack==1.0.6
mtcnn==0.1.1
multidict==6.0.2
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.7
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
opendatasets==0.1.22
openpyxl==3.1.2
opt-einsum==3.3.0
overrides==7.4.0
packaging==23.1
pandas==2.1.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==10.0.1
pip==23.3
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
plotly==5.18.0
ply==3.11
pooch==1.7.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.16.1
PyJWT==2.4.0
Pympler==0.9
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
PySocks==1.7.1
PySoundFile==0.9.0.post1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-slugify==8.0.1
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.6
rsa==4.7.2
scikit-learn==1.3.0
scipy==1.11.3
seaborn==0.13.0
Send2Trash==1.8.2
setuptools==68.0.0
sip==6.6.2
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
squarify==0.4.3
stack-data==0.6.2
statsmodels==0.14.0
strsimpy==0.1.9
tenacity==8.2.3
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
termcolor==2.1.0
terminado==0.15.0
text-unidecode==1.3
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.12.0
types-python-dateutil==2.8.19.14
typing_extensions==4.7.1
typing-utils==0.1.0
tzdata==2023.3
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==1.26.18
vine==5.0.0
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==2.2.3
wheel==0.41.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
xarray==2023.10.1
xlrd==2.0.1
yarl==1.8.1
zipp==3.17.0
